.dash-table-container .dash-spreadsheet-container td.cell--selected.focused {
    background-color: #7F0019 !important;
    border-color: transparent !important;
    color: white !important;
    box-shadow: none !important;
}

.dash-table-container .dash-spreadsheet-container td {
    border: none !important;
    box-shadow: none !important;
}
